<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.dutyfree.mapper.ChartMapper">

	<select id="cntMember"
		resultType="com.hyundai.dutyfree.vo.ChartVO">
		select mgender as sex, count(*) as mcnt
		FROM member
		group by
		mgender
		order by 1
	</select>
	<select id="dailyTotal"
		resultType="com.hyundai.dutyfree.vo.ChartVO">
		<![CDATA[
		select to_char(odate, 'yymmdd') as odate, sum(ototal) as
		dailytotal from orderlist
		where to_char(odate, 'yymmdd') >=
		TO_CHAR(current_date-7,'YYYYMMDD')
		group by to_char(odate, 'yymmdd')
		order by 1
		]]>
	</select>
	<select id="categoryTotal"
		resultType="com.hyundai.dutyfree.vo.ChartVO">
		select c.clarge as cat, count(*) as ccnt
		from orderitem o
		join category c
		on o.pcode = c.pcode
		GROUP BY c.clarge
		order by 1
	</select>
</mapper>